@{
    ViewData["Title"] = "Hospedagem Discord";
}
<h1>@ViewData["Title"]</h1>

<section class="bg-center bg-no-repeat bg-blend-multiply bg-[url(../assets/bannersite.webp)] bg-blend-multiply bg-cover">
        <div class="px-4 mx-auto max-w-screen-xl text-center py-56 lg:py-56">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-200 md:text-5xl lg:text-6xl">
                Hospedagem Discord na ABCcloud</h1>
            <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Aqui você hospeda seu
                Bot de Discord ao lado do Discord e tenha a menor latência possível.
            </p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">

            </div>
        </div>
    </section>

    <div style="margin-top: -8dvh; height: 13vh; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path class="fill-white dark:fill-[#060606]" d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none;"></path>
        </svg></div>

    <section class="text-gray-700 dark:text-gray-200 body-font overflow-hidden border-t border-none dark:border-none">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
            <div class="lg:w-1/4 mt-48 hidden lg:block">
                <div class="mt-px border-t border-gray-300 dark:border-[#151515] border-b border-l rounded-tl-lg rounded-bl-lg overflow-hidden">
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-900 dark:text-gray-200 h-12 text-center px-4 flex items-center justify-start -mt-px">
                        Memória RAM</p>
                    <p class="text-gray-900 dark:text-gray-200 h-12 text-center px-4 flex items-center justify-start">
                        Armazenamento</p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-900 dark:text-gray-200 h-12 text-center px-4 flex items-center justify-start">
                        Anti-DDoS</p>
                    <p class="text-gray-900 dark:text-gray-200 h-12 text-center px-4 flex items-center justify-start">
                        Suporte exclusivo</p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-900 dark:text-gray-200 h-12 text-center px-4 flex items-center justify-start">
                        Todas as linguagens suportadas</p>
                    <p class="text-gray-900 dark:text-gray-200 h-12 text-center px-4 flex items-center justify-start">Me
                        divulga PG</p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-900 dark:text-gray-200 dark:text-gray-200 h-12 text-center px-4 flex items-center justify-start">
                        Máquina ao lado do Discord</p>
                    <p class="text-gray-900 dark:text-gray-200 h-12 text-center px-4 flex items-center justify-start">
                        Acesso à api</p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-900 dark:text-gray-200 h-12 text-center px-4 flex items-center justify-start">
                        Backups</p>
                </div>
            </div>
            <div class="flex lg:w-3/4 w-full flex-wrap lg:border border-gray-300 dark:border-[#151515] rounded-lg">
                <div class="lg:w-1/3 lg:mt-px w-full mb-10 lg:mb-0 border-2 border-gray-300 dark:border-[#151515] lg:border-none rounded-lg lg:rounded-none">
                    <div class="px-2 text-center h-48 flex flex-col items-center justify-center">
                        <h3 class="tracking-widest">ABC</h3>
                        <h2 class="text-5xl text-gray-900 dark:text-gray-100 font-medium leading-none mb-4 mt-2">R$2,50
                        </h2>
                        <span class="text-sm text-gray-600 dark:text-gray-400">Economize R$4,35</span>
                    </div>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 dark:text-gray-200 h-12 text-center px-2 flex items-center -mt-px justify-center border-t border-gray-300 dark:border-[#151515]">
                        1GB DDR5</p>
                    <p class="h-12 text-gray-600 dark:text-gray-200 text-center leading-relaxed flex items-center justify-center">
                        5GB SSD NVME
                    </p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 dark:text-gray-200 text-center h-12 flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="text-gray-600 text-center h-12 flex items-center justify-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.2" class="w-5 h-5 text-gray-500" viewBox="0 0 24 24">
                            <path d="M18 6L6 18M6 6l12 12"></path>
                        </svg>
                    </p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 dark:text-gray-200 text-center h-12 flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>

                    <p class="text-gray-600 dark:text-gray-200 dark:text-gray-200 text-center h-12 flex items-center justify-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.2" class="w-5 h-5 text-gray-500" viewBox="0 0 24 24">
                            <path d="M18 6L6 18M6 6l12 12"></path>
                        </svg>
                    </p>

                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 text-center h-12 flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="text-gray-600 text-center h-12 flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 dark:text-gray-200 text-center h-12 flex items-center justify-center">
                        5
                    </p>
                    <div class="p-6 text-center border-t border-gray-300 dark:border-[#151515]">
                        <button id="plan0" class="flex items-center mt-auto text-white bg-[#002b55] border-0 py-2 px-4 w-full focus:outline-none hover:bg-[#042740] rounded">Adquirir
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </button>
                        <p class="text-xs text-gray-500 dark:text-gray-400 mt-3">Você literalmente ganha com isso!
                        </p>
                    </div>
                </div>

                <div class="lg:w-1/3 lg:-mt-px w-full mb-10 lg:mb-0 border-2 rounded-lg border-[#002b55] relative">
                    <span class="bg-[#002b55] text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl">POPULAR</span>
                    <div class="px-2 text-center h-48 flex flex-col items-center justify-center">
                        <h3 class="tracking-widest">LEÃOZINHO</h3>
                        <h2 class="text-5xl text-gray-900 dark:text-gray-100 font-medium flex items-center justify-center leading-none mb-4 mt-2">
                            R$4,50
                            <span class="text-gray-600 dark:text-gray-300 text-base ml-1">/mês</span>
                        </h2>
                        <span class="text-sm text-gray-600 dark:text-gray-400">Economize R$7,42</span>
                    </div>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 dark:text-gray-200 h-12 text-center px-2 flex items-center -mt-px justify-center border-t border-gray-300 dark:border-[#151515]">
                        2GB DDR5</p>
                    <p class="text-gray-600 dark:text-gray-200 text-center h-12 flex items-center justify-center">
                        10GB SSD NVME
                    </p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 dark:text-gray-200 text-center h-12 flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="h-12 text-gray-600 dark:text-gray-200 text-center leading-relaxed flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 dark:text-gray-200 text-center h-12 flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="text-gray-600 dark:text-gray-200 dark:text-gray-200 text-center h-12 flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 text-center h-12 flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="text-gray-600 text-center h-12 flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 dark:text-gray-200 text-center h-12 flex items-center justify-center">
                        20
                    </p>
                    <div class="p-6 text-center border-t border-gray-300 dark:border-[#151515]">
                        <button id="plan1" class="flex items-center mt-auto text-white bg-[#002b55] border-0 py-2 px-4 w-full focus:outline-none hover:bg-[#042740] rounded">Adquirir
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </button>
                        <p class="text-xs text-gray-500 dark:text-gray-400 mt-3">Você literalmente ganha com isso!
                        </p>
                    </div>
                </div>

                <div class="lg:w-1/3 w-full lg:mt-px border-2 border-gray-300 lg:border-none rounded-lg lg:rounded-none">
                    <div class="px-2 text-center h-48 flex flex-col items-center justify-center">
                        <h3 class="tracking-widest">QUADRADO</h3>
                        <h2 class="text-5xl text-gray-900 dark:text-gray-100 font-medium flex items-center justify-center leading-none mb-4 mt-2">
                            R$9,90
                            <span class="text-gray-600 dark:text-gray-300 text-base ml-1">/mês</span>
                        </h2>
                        <span class="text-sm text-gray-600 dark:text-gray-400">Economize R$14,98</span>
                    </div>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 dark:text-gray-200 h-12 text-center px-2 flex items-center -mt-px justify-center border-t border-gray-300 dark:border-[#151515]">
                        4GB DDR5</p>
                    <p class="text-gray-600 dark:text-gray-200 text-center h-12 flex items-center justify-center">
                        15GB SSD NVME
                    </p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 dark:text-gray-200 text-center h-12 flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="h-12 text-gray-600 dark:text-gray-200 text-center leading-relaxed flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 dark:text-gray-200 text-center h-12 flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="text-gray-600 dark:text-gray-200 dark:text-gray-200 text-center h-12 flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 text-center h-12 flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="text-gray-600 text-center h-12 flex items-center justify-center">
                        <span class="w-5 h-5 inline-flex items-center justify-center bg-gray-500 dark:bg-[#090909] text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>
                    </p>
                    <p class="bg-gray-100 dark:bg-[#090909] text-gray-600 dark:text-gray-200 text-center h-12 flex items-center justify-center">
                        ILIMITADOS
                    </p>
                    <div class="p-6 text-center border-t border-gray-300 dark:border-[#151515]">
                        <button id="plan2" class="flex items-center mt-auto text-white bg-[#002b55] border-0 py-2 px-4 w-full focus:outline-none hover:bg-[#042740] rounded">Adquirir
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </button>
                        <p class="text-xs text-gray-500 dark:text-gray-400 mt-3">Você literalmente ganha com isso!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <header class="flex bg-white dark:bg-[#060606]" style="min-height: 100dvh">

        <div class="container flex flex-col px-6 py-4 mx-auto space-y-6 md:h-128 md:py-16 md:flex-row md:items-center md:space-x-6">
            <div class="flex flex-col items-center w-full md:flex-row md:w-1/2">

                <div class="max-w-lg md:mx-12 md:order-2">
                    <h1 class="text-4xl font-bold tracking-wide text-gray-800 dark:text-gray-200 sm:text-4xl leading-tight md:text-5xl xl:text-6xl">
                        Tenha a menor latência possível</h1>
                    <p class="mt-4 text-gray-500 text-xl dark:text-gray-300">Para hospedar o seu Bot de Discord, utilize
                        a nossa Host Bot USA, onde você o hospedará "ao lado" das máquinas do Discord. Trazendo assim a
                        menor latência e tempo de resposta.</p>
                </div>
            </div>

            <div class="flex items-center justify-center w-full h-96 md:w-1/2">
                <img class="object-cover w-full max-w-2xl rounded-md" src="../assets/usaflag.png" alt="abccloud usa flag webp">
            </div>
        </div>
    </header>

    <div id="sobrenos" class="bg-white dark:bg-[#060606] grid place-items-center py-20 sm:py-2 md:py-20 lg:py-20" style="min-height: 100dvh">
        <div class="w-10/12 mx-auto rounded border-[#151515]">
            <div class="borrado p-10 shadow-sm">
                <h3 class="text-lg font-medium text-gray-800 dark:text-white">Perguntas frequentes</h3>
                <div class="h-1 w-full mx-auto border-b my-5 border-[#151515]"></div>

                <!-- What is term -->
                <div class="transition bg-white dark:bg-[#090909] text-gray-800 dark:text-gray-200">
                    <!-- header -->
                    <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-16 ">
                        <i class="fas fa-plus"></i>
                        <h3>O que é a ABCcloud ou ABC?</h3>
                    </div>
                    <!-- Content -->
                    <div class="accordion-content px-5 pt-0 overflow-hidden max-h-0">
                        <p class="leading-6 font-light pl-9 text-justify">ABCcloud ou ABC é uma Hospedagem
                            gratuita ou profissional para Bots de
                            Discord.</p>
                    </div>
                </div>

                <br>

                <!-- When to use Accordion Components -->
                <div class="transition text-gray-800 dark:text-gray-100 dark:bg-[#090909]">
                    <!-- header -->
                    <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-16">
                        <i class="fas fa-plus"></i>
                        <h3>Quais linguagens são suportadas pela ABCcloud?</h3>
                    </div>
                    <!-- Content -->
                    <div class="accordion-content px-5 pt-0 overflow-hidden bg-white dark:bg-[#090909] max-h-0">
                        <p class="leading-6 font-light pl-9 text-justify">Atualmente a ABCcloud suporta até 5
                            linguagens:
                            NodeJs,
                            Python, Ruby, Java e Elixir.</p>
                    </div>
                </div>

                <br>

                <!-- Accordion Wrapper -->
                <div class="transition bg-white text-gray-800 dark:text-gray-100 dark:bg-[#090909]">
                    <!-- header -->
                    <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-16 bg-white dark:bg-[#090909]">
                        <i class="fas fa-plus"></i>
                        <h3>Qual processador vocês utilizam?</h3>
                    </div>
                    <!-- Content -->
                    <div class="accordion-content px-5 pt-0 overflow-hidden bg-white dark:bg-[#090909] max-h-0">
                        <p class="leading-6 font-light pl-9 text-justify">A ABCcloud é a primeira empresa brasileira a
                            oferecer
                            serviços de Hospedagem para Bots de Discord utilizando processadores Ryzen 7 7700, com um
                            clock de no
                            máximo 5.3GHz.</p>
                    </div>
                </div>

                <br>

                <!-- Accordion Wrapper -->
                <div class="transition bg-white dark:bg-[#090909] text-gray-800 dark:text-gray-100">
                    <!-- header -->
                    <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-16 bg-white dark:bg-[#090909]">
                        <i class="fas fa-plus"></i>
                        <h3>Quais métodos de pagamentos aceitos pela ABCcloud?</h3>
                    </div>
                    <!-- Content -->
                    <div class="accordion-content px-5 pt-0 overflow-hidden bg-white dark:bg-[#090909] max-h-0">
                        <p class="leading-6 font-light text-gray-800 dark:text-gray-100 pl-9 text-justify">Os Métodos de
                            Pagamento aceitos
                            via <a href="https://cliente.abccloud.cm.br/clientarea.php" class="font-semibold text-[#002b55] underline dark:text-[#002b55]">Área do
                                Cliente</a> pela ABCcloud é Cartão de Débito/Crédito. Por questões jurídicas,
                            aceitamos Pix apenas
                            quando a compra é realizada via ticket em nossa <a href="#" class="font-semibold text-[#002b55] underline dark:text-[#002b55]">Área
                                do Cliente</a>
                            ou até mesmo em nosso <a href="https://discord.com/invite/be4WJRAsM8" class="font-semibold text-[#002b55] underline dark:text-[#002b55]">Discord</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>