@{
    ViewData["Title"] = "Página Inicial";
}

    <div id="err"></div>

    <div id="modalhere"></div>

    <section class="py-32 lg:py-40 bg-white dark:bg-[#060606] height-[60dvh]">


        <div class="mx-auto lg:max-w-7xl w-full px-5 sm:px-10 md:px-12 lg:px-5 flex flex-col lg:flex-row gap-10 lg:gap-12 dark:bg-[url(static/assets/bcpattern.png)]">
            <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 hidden lg:block"></div>
            <div class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8 
            lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">

                <p class="mb-4 text-lg font-normal text-[#002b55] dark:text-[#134d72]">Temos a garantia de reembolso de
                    7
                    dias</p>


                <h1 class="text-3xl leading-tight sm:text-4xl md:text-5xl xl:text-6xl
            font-bold text-gray-900 dark:text-gray-200">
                    Hospedar na <span class="text-transparent bg-clip-text bg-gradient-to-br from-[#002b55] from-20% via-[#134d72] via-30% to-[#002b55]">ABCcloud</span>
                    é fácil demais, cara.
                </h1>
                <p class="mt-8 text-gray-700 dark:text-gray-200">A ABCcloud é uma Hospedagem totalmente Gamer.<br>Hospede já o seu Bot de Discord ou Servidor de Minecraft</p>


                <div class="py-6">
                    <a href="https://painel.abccloud.com.br/" class="inline-block text-white font-bold py-2 px-4 rounded-full bg-gradient-to-r from-[#002b55] to-[#002b55] border border-transparent transform hover:scale-110 hover:border-white transition-transform duration-3000 ease-in-out ">
                        Painel de Controle
                    </a>

                    <a href="https://abccloud.com.br/hospedagem-discord" class="inline-block text-white font-bold py-2 px-4 rounded-full bg-gradient-to-r from-[#002b55] to-[#002b55] border border-transparent transform hover:scale-110 hover:border-white transition-transform duration-3000 ease-in-out ">
                        Planos Host Bot
                    </a>
                </div>
            </div>
            <div class="flex flex-1 lg:w-1/2 lg:max-h-96 relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl" style="width: 100%; margin: 0 auto; justify-content: center">

                <div class="max-w-sm">
                    <div class="text-center text-4xl">🚀</div>
                    <h3 class="text-center pt-4 text-lg font-bold text-gray-900 dark:text-gray-200">PLANO ABC<br></h3>
                    <p class="text-center mt-3 text-sm font-normal text-gray-600 dark:text-gray-200">Melhor para
                        desenvolvedores independentes</p>
                    <div class="flex items-end justify-center mt-6">
                        <p class="text-5xl font-bold text-gray-900 dark:text-gray-200">R$2,50</p>
                        <p class="text-lg font-medium text-gray-400 dark:text-gray-400"> /mês </p>
                    </div>
                    <ul class="mt-6 space-y-3 text-base font-medium text-gray-900 dark:text-gray-200">
                        <li class="flex items-center">
                            <svg class="w-5 h-5 mr-2.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                            </svg> 1GB RAM DDR5
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 mr-2.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                            </svg> 1 vCPU
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 mr-2.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                            </svg> 1GB SSD NVME
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 mr-2.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                            </svg> Suporte 24/7
                        </li>
                    </ul>
                    <a href="https://cliente.abccloud.com.br/cart.php?a=confproduct&amp;i=1" target="_blank" class="w-full inline-flex items-center justify-center px-4 py-3 mt-10 text-base font-bold text-gray-900 dark:text-gray-200 transition-all duration-200 bg-transparent border border-gray-400 rounded hover:bg-[#042740] hover:text-white focus:bg-[#042740] focus:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" role="button"> Adquira AGORA
                    </a>
                </div>

            </div>
        </div>


        <section class="mx-auto max-w-7xl">
            <div class="flex flex-col items-center justify-center border-b border-t border-gray-200 dark:border-[#151515] py-12">
                <div class="text-center text-lg font-bold uppercase text-gray-600 dark:text-gray-100">Linguagens
                    oficialmente suportadas</div>
                <div class="flex flex-wrap items-center justify-center gap-8">
                    <div class="flex flex-col items-center gap-2 px-2 py-4"><a aria-label="Read more about how to use javascript at our documentation" class="w-fit" href="">
                            <div class="block transform rounded-md shadow-sm duration-300 hover:opacity-100"><img alt="javascript" loading="lazy" width="48" height="48" decoding="async" data-nimg="1" class="rounded-md" src="../assets/javascript.svg" style="color: transparent;">
                            </div>
                        </a><span class="text-xs font-medium text-gray-600 dark:text-gray-200">javascript</span></div>
                    <div class="flex flex-col items-center gap-2 px-2 py-4"><a aria-label="Read more about how to use typescript at our documentation" class="w-fit" href="">
                            <div class="block transform rounded-md shadow-sm duration-300 hover:opacity-100"><img alt="typescript" loading="lazy" width="48" height="48" decoding="async" data-nimg="1" class="rounded-md" src="../assets/typescript.svg" style="color: transparent;">
                            </div>
                        </a><span class="text-xs font-medium text-gray-600 dark:text-gray-200">typescript</span></div>
                    <div class="flex flex-col items-center gap-2 px-2 py-4"><a aria-label="Read more about how to use python at our documentation" class="w-fit" href="">
                            <div class="block transform rounded-md shadow-sm duration-300 hover:opacity-100"><img alt="python" loading="lazy" width="48" height="48" decoding="async" data-nimg="1" class="rounded-md" src="../assets/python.svg" style="color: transparent;"></div>
                        </a><span class="text-xs font-medium text-gray-600 dark:text-gray-200">python</span></div>
                    <div class="flex flex-col items-center gap-2 px-2 py-4"><a aria-label="Read more about how to use java at our documentation" class="w-fit" href="">
                            <div class="block transform rounded-md shadow-sm duration-300 hover:opacity-100"><img alt="java" loading="lazy" width="48" height="48" decoding="async" data-nimg="1" class="rounded-md" src="../assets/java.svg" style="color: transparent;"></div>
                        </a><span class="text-xs font-medium text-gray-600 dark:text-gray-200">java</span></div>
                </div>
                <div class="mt-6 text-center text-base text-gray-600 dark:text-gray-100">Confiada por mais de <span class="font-semibold text-[#002b55]">1000</span> desenvolvedores.</div>
            </div>
        </section>

    </section>


    <header class="flex bg-white dark:bg-[#060606]" style="height: 100dvh">

        <div class="container flex flex-col px-6 py-4 mx-auto space-y-6 md:h-128 md:py-16 md:flex-row md:items-center md:space-x-6">
            <div class="flex flex-col items-center w-full md:flex-row md:w-1/2">

                <div class="max-w-lg md:mx-12 md:order-2">
                    <h1 class="text-4xl font-bold tracking-wide text-gray-800 dark:text-gray-200 sm:text-4xl leading-tight md:text-5xl xl:text-6xl">
                        Tenha a menor latência possível</h1>
                    <p class="mt-4 text-gray-500 text-xl dark:text-gray-300">Para hospedar o seu Bot de Discord, utilize
                        a nossa Host Bot USA, onde você o hospedará "ao lado" das máquinas do Discord. Trazendo assim a
                        menor latência e tempo de resposta.</p>
                    <div class="mt-6">
                        <a asp-area="" asp-controller="Home" asp-action="Discord" class="block px-3 py-2 font-semibold text-center text-white transition-colors duration-200 transform bg-[#002b55] rounded-md md:inline hover:bg-[#042740]">Host
                            Bot</a>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-center w-full h-96 md:w-1/2">
                <img class="object-cover w-full max-w-2xl rounded-md" src="../assets/usaflag.png" alt="abccloud usa flag webp">
            </div>
        </div>
    </header>

    <div id="sobrenos" class="bg-white dark:bg-[#060606] grid place-items-center py-20 sm:py-2 md:py-20 lg:py-20" style="min-height: 100dvh">
        <div class="w-10/12 mx-auto rounded border-[#151515]">
            <div class="borrado p-10 shadow-sm">
                <h3 class="text-lg font-medium text-gray-800 dark:text-white">Perguntas frequentes</h3>
                <div class="h-1 w-full mx-auto border-b my-5 border-[#151515]"></div>

                <!-- What is term -->
                <div class="transition bg-white dark:bg-[#090909] text-gray-800 dark:text-gray-200">
                    <!-- header -->
                    <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-16 ">
                        <i class="fas fa-plus"></i>
                        <h3>O que é a ABCcloud ou ABC?</h3>
                    </div>
                    <!-- Content -->
                    <div class="accordion-content px-5 pt-0 overflow-hidden max-h-0">
                        <p class="leading-6 font-light pl-9 text-justify">ABCcloud ou ABC é uma Hospedagem
                            gratuita ou profissional para Bots de
                            Discord.</p>
                    </div>
                </div>

                <br>

                <!-- When to use Accordion Components -->
                <div class="transition text-gray-800 dark:text-gray-100 dark:bg-[#090909]">
                    <!-- header -->
                    <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-16">
                        <i class="fas fa-plus"></i>
                        <h3>Quais linguagens são suportadas pela ABCcloud?</h3>
                    </div>
                    <!-- Content -->
                    <div class="accordion-content px-5 pt-0 overflow-hidden bg-white dark:bg-[#090909] max-h-0">
                        <p class="leading-6 font-light pl-9 text-justify">Atualmente a ABCcloud suporta até 5
                            linguagens:
                            NodeJs,
                            Python, Ruby, Java e Elixir.</p>
                    </div>
                </div>

                <br>

                <!-- Accordion Wrapper -->
                <div class="transition bg-white text-gray-800 dark:text-gray-100 dark:bg-[#090909]">
                    <!-- header -->
                    <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-16 bg-white dark:bg-[#090909]">
                        <i class="fas fa-plus"></i>
                        <h3>Qual processador vocês utilizam?</h3>
                    </div>
                    <!-- Content -->
                    <div class="accordion-content px-5 pt-0 overflow-hidden bg-white dark:bg-[#090909] max-h-0">
                        <p class="leading-6 font-light pl-9 text-justify">A ABCcloud é a primeira empresa brasileira a
                            oferecer
                            serviços de Hospedagem para Bots de Discord utilizando processadores Ryzen 7 7700, com um
                            clock de no
                            máximo 5.3GHz.</p>
                    </div>
                </div>

                <br>

                <!-- Accordion Wrapper -->
                <div class="transition bg-white dark:bg-[#090909] text-gray-800 dark:text-gray-100">
                    <!-- header -->
                    <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-16 bg-white dark:bg-[#090909]">
                        <i class="fas fa-plus"></i>
                        <h3>Quais métodos de pagamentos aceitos pela ABCcloud?</h3>
                    </div>
                    <!-- Content -->
                    <div class="accordion-content px-5 pt-0 overflow-hidden bg-white dark:bg-[#090909] max-h-0">
                        <p class="leading-6 font-light text-gray-800 dark:text-gray-100 pl-9 text-justify">Os Métodos de
                            Pagamento aceitos
                            via <a href="https://cliente.abccloud.cm.br/clientarea.php" class="font-semibold text-[#002b55] underline dark:text-[#002b55]">Área do
                                Cliente</a> pela ABCcloud é Cartão de Débito/Crédito. Por questões jurídicas,
                            aceitamos Pix apenas
                            quando a compra é realizada via ticket em nossa <a href="#" class="font-semibold text-[#002b55] underline dark:text-[#002b55]">Área
                                do Cliente</a>
                            ou até mesmo em nosso <a href="https://discord.com/invite/be4WJRAsM8" class="font-semibold text-[#002b55] underline dark:text-[#002b55]">Discord</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
